<app-header-menu></app-header-menu>
<p-panel>
  <ng-template pTemplate="header">
    <h1>{{titulo}}</h1>
  </ng-template>
  <button pButton pRipple type="button" (click)="atras()"   label="atras"  class="p-button-outlined p-button-secondary"></button>
  <form [formGroup]="myform" >
    <p-toast class="Top Center"></p-toast>
  <div class="flex-form">
    <div >
        <label for="documento">Documento</label>&nbsp;
        <input id="documento" type="text" pInputText formControlName="documento">
        <div class="validation-errors">
          <ng-container *ngFor="let validador of validation.documento">
            <div *ngIf="myform.get('documento').hasError(validador.type) && (myform.get('documento').dirty || myform.get('documento').touch) "> 
              {{validador.message}}
            </div>

          </ng-container>
        </div>
    </div>
    <div >
        <label for="username">Usuario</label>&nbsp;
        <input id="username" type="text" pInputText formControlName="username">&nbsp;
        <div class="validation-errors">
          <ng-container *ngFor="let validador of validation.username">
            <div *ngIf="myform.get('username').hasError(validador.type) && (myform.get('username').dirty || myform.get('username').touch) ">
              {{validador.message}}
            </div>

          </ng-container>
        </div>
    </div>


</div>

<div class="flex-form">
  <div >
      <label for="password">Contraseña</label>&nbsp;
      <input id="password" type="password" pInputText formControlName="password">
      <div class="validation-errors">
        <ng-container *ngFor="let validador of validation.password">
          <div *ngIf="myform.get('password').hasError(validador.type) && (myform.get('password').dirty || myform.get('password').touch) ">
            {{validador.message}}
          </div>

        </ng-container>
      </div>
  </div>
  <div >
      <label for="username">Usuario</label>&nbsp;
      <p-dropdown [options]="listRoles" formControlName="idrol" optionLabel="descripcion" optionValue="idRol"></p-dropdown>
  </div>


</div>
<div class="flex-form">
  <button pButton pRipple type="button" (click)="Save()"  label="Guardar"  class="p-button-outlined"></button>

</div>





</form>


</p-panel>
